header{
	background-color: #2E8B57;
	display: block;
	font-family: STCaiyun;
	font-weight: bold;
	font-size: 30px;
}

.xixi{
	width: : 30px;
	height: 30px;
	float: left;
	
}

.hei{
	width: : 30px;
	height: 30px;
	float: right;
}

ul{
	color: white;

}

li {
	display: inline;
	margin: 0px 3px;


	}

form{
	text-align:center;
	background-color: #F5DEB3;
	line-height: 40px;
	font-family: YouYuan;
	

}
legend{
	font-family: STCaiyun;
	font-size: 40px;


}

a {
				color: white;
				text-transform: uppercase;
				text-decoration: none;
				padding: 6px 18px 5px 18px;

}
			a:hover, a.on {
				color: #cc3333;
				background-color: #ffffff;

			}

